*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.carry{
    display: flex;
    justify-content: space-between;
    background-color: blanchedalmond;
}
.content{
    display: inline-flex;
    display: flex;
    gap: 83px;
}
.handbuger{
    
}
.a{
    width: 30px;
    height: 6px;
    background-color: rgb(17, 16, 16);
    margin-top: 3px;
}
.b{
    width: 30px;
    height: 6px;
    background-color: black;
     margin-top: 3px;
}
.c{
    width: 30px;
    height: 6px;
    background-color: rgb(17, 17, 17);
     margin-top: 3px;
}
@media screen and (min-width: 360px){
    span{ display: block;}
}
/* .handbuger{
    
}

}
.logo{
    width: 100%;
}
.content{
    width: 100%;

    
} */